{% load static %}

<!DOCTYPE html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <link href="{% static 'account/style.css' %}" rel="stylesheet">
</head>
<body style="background-color: #D9D9D9;">
    <script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
    <script src="{% static 'account/headerWithMenu.js' %}"></script>
    
    <script>document.getElementById("h1Title").innerHTML = "All Users" </script>
    <div id="mainDivGrey">
        {% for u in all_users %}
        <div class="itemDiv row"> 
            <table class="div-table" >
                <th>
                    <h3> {{ u.first_name }} {{ u.last_name }}</h3>
                </th>
                <th>
                    <p>Account Balance: {{ u.funds }}</p>
                </th>
                <th>
                {% if not u.employee %}
                <p>{{ u.employee }}</p>
                <form method="post" action="/account/hireuser/">
                    <input type="number" value="{{ u.pk }}" style="visibility: hidden;" name="user_idx" id="user_idx">
                    <input type="submit">
                </form>
                {% endif %}
                </th>
            </table>    
        </div>
        {% endfor %}
    </div>
    <div id="footer">
        <h1>Dan's Frappes</h1>
    </div>
</body>