<!DOCTYPE html>
<div>
    <h1>Create Account</h1>
    <form method="post" action="">{% csrf_token %}
        <p><input type="text" name="first-name" placeholder="first name"></p>
        <p><input type="text" name="last-name" placeholder="last name"></p>
        <p><input type="text" name="email" placeholder="email"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <p><button type="submit">Submit</button></p>
    </form>
    <p>Already have an account? Click <a href="{% url 'login' %}">here</a> to sign in.</p>
</div>