{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>TODO: change this title with JavaScript</title>
		<meta charset="utf-8">
		<link href="{% static 'account/style.css' %}" rel="stylesheet">
	</head>

	<body>
		<script src="{% static 'account/header.js' %}"></script>
		<form method="post" action="">{% csrf_token %}
			<input type="text" id="username" name="username">
			<input type="password" id="password" name="password">
			<input type="submit" id="loginbutton"></input>
		</form>
		{% if validLogin == True %}
		<p hidden id="invalidLoginText">hidden</p>
		{% else %}
		<p id="invalidLoginText">Not Hidden</p>
		{% endif %}
		<script src="{% static 'account/script.js' %}"></script>
		
	</body>
</html>
