{% load static %}

<!DOCTYPE html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <link href="{% static 'employee/style.css' %}" rel="stylesheet">
</head>
<body>
    <script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
    <script src="{% static 'employee/headerWithMenu.js' %}"></script>
    <script>document.getElementById("h1Title").innerHTML="Inventory"</script>
    <div id="mainDiv">
        <div class="left-column-inventory">
            <table class="div-table">
                {% for ingredient in ingredients %}
                <tr>
                <td>
                    <h2>Ingredient: {{ ingredient.name }}</h2>
                </td>
                <td>
                    <h2>Cost: ${{ ingredient.buy_cost }}</h2>
                </td>
                <td>
                    <h2>Current: {{ ingredient.stock }}</h2>
                </td>
                <td>
                    <h2>Order: <input type="text" id="icount{{ ingredient.name }}" onchange="cleanUp('{{ ingredient.name }}')" name="count" value="0" style="border-style: none; font-size: x-large; font-weight: bold; width: 100px; color: #8F8F8F;">
                </td>
                <td style="text-align: right;">
                    <button class="add" onclick="addToOrdering('{{ingredient.name}}')">+</button>
                </td>
                <td>
                    <button class="subtract" onclick="subFromOrdering('{{ingredient.name}}')">-</button>
                </td>
                </tr>
                {% endfor %}
                {% for milk in milkIngredients %}
                <tr>
                <td>
                    <h2>Ingredient: {{ milk.name }}</h2>
                </td>
                <td>
                    <h2>Cost: ${{ milk.buy_cost }}</h2>
                </td>
                <td>
                    <h2>Current: {{ milk.stock }}</h2>
                </td>
                <td>
                    <h2>Order: <input type="text" id="icount{{ milk.name }}" onchange="cleanUp('{{ milk.name }}')" name="count" value="0" style="border-style: none; font-size: x-large; font-weight: bold; width: 100px; color: #8F8F8F;">
                </td>
                <td style="text-align: right;">
                    <button class="add" onclick="addToOrdering('{{milk.name}}')">+</button>
                </td>
                <td>
                    <button class="subtract" onclick="subFromOrdering('{{milk.name}}')">-</button>
                </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="right-column-inventory">
                <u><h1>Order</h1></u>
                <div id="receipt">
                </div>
                <h2 id="total">
                    Total:   $0.00
                </h2>
                <button class="action-button" onclick="buy({{balance}},'{{names}}')" style="background-color: #8F8F8F; color: white;">
                    Buy
                </button>
        </div>
        <div>
            <h2 id="accountBalance">Current Account Balance: ${{ balance|floatformat:2}}</h2>
        </div>
    </div>
    <script src="{% static 'employee/inventory.js' %}"></script>
    <script>addPrices({{ prices|safe }})</script>
</body>