{% load static %}

<!DOCTYPE html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <link href="{% static 'employee/style.css' %}" rel="stylesheet">
</head>
<body style="background-color: #D9D9D9">
    <script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
    <script src="{% static 'employee/headerWithMenu.js' %}"></script>
    <script>document.getElementById("h1Title").innerHTML="Queue"</script>
    <div id="mainDivGrey">
        {% for order in orders %}
        {% if not order.fulfilled %}
        <div class="itemDiv row">
            <table class="div-table">
                <th>
                    {% for u in users %}
                    {% if u.id == order.user_id %}
                    <h3 style="text-align: left;">{{ u.first_name }} {{ u.last_name }}</h3>
                    {% endif %}
                    {% endfor %}
                </th>
                <th>
                    {% for drink in order.order.items %}
                    <p style="text-align: left;">Drink: {{ drink.name }}</p>
                    {% for key, value in drink.items %}
                    {% if key != 'name' %}
                    <p style="text-align: left;">&emsp;&emsp; {{ key }}: {{ value }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                <th>
                <form method="post" action="/employee/fulfillorder/">
                    <input type="number" style="display: none;" value="{{ order.id }}" id="order_idx" name="order_idx">
                    <input type="submit" class="action-button" value="Done">
                </form>
                
                </th>
            </table>    
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="footer">
        <h1>Dan's Frappes</h1>
    </div>
</body>