{% load static %}

<!DOCTYPE html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <link href="{% static 'employee/style.css' %}" rel="stylesheet">
</head>
<body style="background-color: #D9D9D9">
    <script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
    <script src="{% static 'employee/headerWithMenu.js' %}"></script>
    <script>document.getElementById("h1Title").innerHTML="Queue"</script>
    <div id="mainDivGrey">
        <div class="itemDiv row">
            <table class="div-table">
                <th>
                    <h3>Username 1</h3>
                </th>
                <th>
                    <p>Drink: Name</p>
                <th>
                <button class="action-button">Done</button>
                </th>
            </table>    
        </div>
        <div class="itemDiv row">
            <table class="div-table">
                <th>
                    <h3>Username 2</h3>
                </th>
                <th>
                    <p>Drink: Name</p>
                <th>
                <button class="action-button">Done</button>
                </th>
            </table>
        </div>
        <div class="itemDiv row">
            <table class="div-table">
                <th>
                    <h3>Username 3</h3>
                </th>
                <th>
                    <p>Drink: Name</p>
                <th>
                <button class="action-button">Done</button>
                </th>
            </table>
        </div>
        <div class="itemDiv row">
            <table class="div-table">
                <th>
                    <h3>Username 4</h3>
                </th>
                <th>
                    <p>Drink: Name</p>
                <th>
                <button class="action-button">Done</button>
                </th>
            </table>
        </div>
    </div>
    <div id="footer">
        <h1>Dan's Frappes</h1>
    </div>
</body>