{% load static %}

<!DOCTYPE html>
<head>
    <title>TODO: change this title with JavaScript</title>
    <meta charset="utf-8">
    <link href="{% static 'employee/style.css' %}" rel="stylesheet">
</head>
<body style="background-color: #0A2136;">
    <script src="{% static 'employee/headerWithMenu.js' %}"></script>
    <div id="mainDiv">
        <div class="itemDiv">
            <h3>Employee 1</h3>
            <p>Makes: 0</p>
            <button>Pay</button>
        </div>
        <div class="itemDiv">
            <h3>Employee 2</h3>
            <p>Makes: 12</p>
            <button>Pay</button>
        </div>
        <div class="itemDiv">
            <h3>Employee 3</h3>
            <p>Makes: 12</p>
            <button>Pay</button>
        </div>
        <div class="itemDiv">
            <h3>Employee 4</h3>
            <p>Makes: 12</p>
            <button>Pay</button>
        </div>
    </div>
</body>