{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Dan's Frappes - Cart</title>
		<meta charset="utf-8">
		<link href="{% static 'account/style.css' %}" rel="stylesheet">
		<link href="{% static 'menu/style.css' %}" rel="stylesheet">
	</head>

	<body>
		<script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
		<script src="{% static 'menu/headerWithMenu.js' %}"></script>
		<script src="{% static 'menu/script.js' %}"></script>
		<div class="container">
			<div class="grid_item itemDiv">
				<h1>Cart Summary</h1>
			</div>
			<div class="grid_item itemDiv">
				{% for drink in order.items %}
				<div class="receipt">
					<p class="cost">{{ drink.name }}</p>
					<ul>
						{% for ingredients in drink.ingredients %}
						<li class="cost">{{ ingredients.name }} | ${{ ingredients.cost }}</li>
						{% endfor %}
					</ul>
					<p class="total">Total: ${{ drink.total }}</p>
				</div>
				{% endfor %}
				<p class="total">Order Total: ${{ order.total }}</p>
			</div>
		</div>
		<form class="cart_button" method="post" action=""><button type="submit">Place Order</button></form>
	</body>
</html>