{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Dan's Frappes - Cart</title>
		<meta charset="utf-8">
		<link href="{% static 'account/style.css' %}" rel="stylesheet">
		<link href="{% static 'menu/style.css' %}" rel="stylesheet">
	</head>

	<body>
		<script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
		<script src="{% static 'menu/headerWithMenu.js' %}"></script>
		<script> h1_1.innerHTML = "Cart"</script>
		<script src="{% static 'menu/script.js' %}"></script>
		<div class="container">
			<div class="grid_item itemDiv grid_two_thirds">
				<h1>Cart Summary</h1>
			</div>
			<div class="grid_item itemDiv receiptArea">
				{% for drink in order.items %}
				<div class="receipt">
					<p class="drinkTitle">{{ drink.name }}</p>
					<ul class="ingredientList">
						{% for ingredients in drink.ingredients %}
						<div class="container">
							<div class="receipt-ingredient grid_item">
								{{ ingredients.name }}
							</div>
							<div class="cost grid_item">
								${{ingredients.cost}}
							</div>
						</div>
						{% endfor %}
					</ul>
					<p class="cost">-----</p>
					<p class="cost">Total: ${{ drink.total }}</p>
				</div>
				{% endfor %}
				<p class="cost">Order Total: ${{ order.total }}</p>
			</div>
		</div>
		<form class="cart_button" method="post" action=""><button type="submit" class="styledButton clickable">Place Order</button></form>
	</body>
</html>