{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Dan's Frappes - Cart</title>
		<meta charset="utf-8">
		<link href="{% static 'account/style.css' %}" rel="stylesheet">
		<link href="{% static 'menu/style.css' %}" rel="stylesheet">
	</head>

	<body>
		<script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
		<script src="{% static 'menu/headerWithMenu.js' %}"></script>
		<script src="{% static 'menu/script.js' %}"></script>
		<div>
			{% if confirmed %}
			<h2 style="padding: 5%;">Thank you for your order!</h2>
			{% else %}
			<h2 style="padding: 5%;">Insufficient Funds.</h2>
			{% endif %}
        </div>
	</body>
</html>