{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Menu Screen</title>
		<meta charset="utf-8">
		<link href="{% static 'account/style.css' %}" rel="stylesheet">
		<link href="{% static 'menu/style.css' %}" rel="stylesheet">
	</head>

	<body>
		<script>const manager = "{{ manager }}"; const employee = "{{ employee }}";</script>
		<script src="{% static 'menu/headerWithMenu.js' %}"></script>
		<script src="{% static 'menu/script.js' %}"></script>
		<div class="container">
			{% for item in item_list %}
			<div class="grid_item itemDiv" onclick="window.location.href = '{% url 'menu_item' item=item.name %}' ">
				<p>{{ item.name }}</p>
				<img src="/static/menu/Frappe-1.webp" width="100" height="100" />
			</div>
			{% endfor %}
		</div>
	</body>

	<script>
		function add_item_to_cart(item, user) {

		}

		function add_topping() {
		
		}

		function gotoItem(itemPath) {

		}
	</script>

</html>