{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Menu Screen</title>
		<meta charset="utf-8">
		<link href="{% static 'account/style.css' %}" rel="stylesheet">
	</head>

	<body>
		<script src="{% static 'menu/header.js' %}"></script>
		<script src="{% static 'menu/script.js' %}"></script>
		<div>
			<img src="homeIcon.png">
			<span>Frappe 1</span>
			<select id="mixins">
				<option id="caramel">Caramel</option>
				<option id="chocolate">Chocolate</option>
				<option id="espresso">Espresso</option>
				<option id="vanilla">Vanilla</option>
				<option id="peppermint">Peppermint</option>
				<option id="matcha">Matcha</option>
				<option id="whipped_cream">Whipped Cream</option>
				<option id="milk_whole">Whole Milk</option>
				<option id="milk_skim">Skim Milk</option>
				<option id="milk_almond">Almond Milk</option>
				<option id="milk_cashew">Cashew Milk</option>
				<option id="milk_oat">Oat Milk</option>
				<option id="none">No mixins or toppings</option>
			</select>
			<input type="number" value="0" id="toppingsInput">
			<button type="button"> add mix in or topping </button>
			<button type="button" onclick="add_item_to_cart(item, user)"> add to cart </button>
		</div>
		<div>
			<img src="homeIcon.png">
			<span>Frappe 2</span>
			<select id="mixins">
				<option id="caramel">Caramel</option>
				<option id="chocolate">Chocolate</option>
				<option id="espresso">Espresso</option>
				<option id="vanilla">Vanilla</option>
				<option id="peppermint">Peppermint</option>
				<option id="matcha">Matcha</option>
				<option id="whipped_cream">Whipped Cream</option>
				<option id="milk_whole">Whole Milk</option>
				<option id="milk_skim">Skim Milk</option>
				<option id="milk_almond">Almond Milk</option>
				<option id="milk_cashew">Cashew Milk</option>
				<option id="milk_oat">Oat Milk</option>
				<option id="none">No mixins or toppings</option>
			</select>
			<input type="number" value="0" id="toppingsInput">
			<button type="button"> add mix in or topping </button>
			<button type="button" onclick="add_item_to_cart(item, user)"> add to cart </button>
		</div>
		<div>
			<img src="homeIcon.png">
			<span>Frappe 3</span>
			<select id="mixins">
				<option id="caramel">Caramel</option>
				<option id="chocolate">Chocolate</option>
				<option id="espresso">Espresso</option>
				<option id="vanilla">Vanilla</option>
				<option id="peppermint">Peppermint</option>
				<option id="matcha">Matcha</option>
				<option id="whipped_cream">Whipped Cream</option>
				<option id="milk_whole">Whole Milk</option>
				<option id="milk_skim">Skim Milk</option>
				<option id="milk_almond">Almond Milk</option>
				<option id="milk_cashew">Cashew Milk</option>
				<option id="milk_oat">Oat Milk</option>
				<option id="none">No mixins or toppings</option>
			</select>
			<input type="number" value="0" id="toppingsInput">
			<button type="button"> add mix in or topping </button>
			<button type="button" onclick="add_item_to_cart(item, user)"> add to cart </button>
		</div>
		<div>
			<img src="homeIcon.png">
			<span>Frappe 4</span>
			<select id="mixins">
				<option id="caramel">Caramel</option>
				<option id="chocolate">Chocolate</option>
				<option id="espresso">Espresso</option>
				<option id="vanilla">Vanilla</option>
				<option id="peppermint">Peppermint</option>
				<option id="matcha">Matcha</option>
				<option id="whipped_cream">Whipped Cream</option>
				<option id="milk_whole">Whole Milk</option>
				<option id="milk_skim">Skim Milk</option>
				<option id="milk_almond">Almond Milk</option>
				<option id="milk_cashew">Cashew Milk</option>
				<option id="milk_oat">Oat Milk</option>
				<option id="none">No mixins or toppings</option>
			</select>
			<input type="number" value="0" id="toppingsInput">
			<button type="button"> add mix in or topping </button>
			<button type="button" onclick="add_item_to_cart(item, user)"> add to cart </button>
		</div>
		<div>
			<img src="homeIcon.png">
			<span>Frappe 5</span>
			<select id="mixins">
				<option id="caramel">Caramel</option>
				<option id="chocolate">Chocolate</option>
				<option id="espresso">Espresso</option>
				<option id="vanilla">Vanilla</option>
				<option id="peppermint">Peppermint</option>
				<option id="matcha">Matcha</option>
				<option id="whipped_cream">Whipped Cream</option>
				<option id="milk_whole">Whole Milk</option>
				<option id="milk_skim">Skim Milk</option>
				<option id="milk_almond">Almond Milk</option>
				<option id="milk_cashew">Cashew Milk</option>
				<option id="milk_oat">Oat Milk</option>
				<option id="none">No mixins or toppings</option>
			</select>
			<input type="number" value="0" id="toppingsInput">
			<button type="button" onclick="add_topping()"> add mix in or topping </button>
			<button type="button" onclick="add_item_to_cart(item, user)"> add to cart </button>
		</div>
		<div>
			<img src="homeIcon.png">
			<span>Frappe 6</span>
			<select id="mixins">
				<option id="caramel">Caramel</option>
				<option id="chocolate">Chocolate</option>
				<option id="espresso">Espresso</option>
				<option id="vanilla">Vanilla</option>
				<option id="peppermint">Peppermint</option>
				<option id="matcha">Matcha</option>
				<option id="whipped_cream">Whipped Cream</option>
				<option id="milk_whole">Whole Milk</option>
				<option id="milk_skim">Skim Milk</option>
				<option id="milk_almond">Almond Milk</option>
				<option id="milk_cashew">Cashew Milk</option>
				<option id="milk_oat">Oat Milk</option>
				<option id="none">No mixins or toppings</option>
			</select>
			<input type="number" value="0" id="toppingsInput">
			<button type="button"> add mix in or topping </button>
			<button type="button" onclick="add_item_to_cart(item, user)"> add to cart </button>
		</div>
	</body>

	<script>
		function add_item_to_cart() {

		}

		function add_topping() {

		}
	</script>

</html>